.fade {
    animation: fadeComponent 0.3s linear;
}

.fadeModal {
    animation: fadeComponent 0.1s linear;
}
@keyframes fadeComponent {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



