@tailwind base;
@tailwind components;
@tailwind utilities;


body{
      font-family: 'Kanit', sans-serif;
      background-image: url("./backgroundDesktop.svg");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
}

@media screen and (max-width:768px) {
      body{
            background-image: url("./backgroundMobile.svg");
      }
}
