@tailwind base;
@tailwind components;
@tailwind utilities;


body{
      background-image: url("./backgroundDesktop.png");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
}