@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;
  background-image: url('/backgroundDesktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('/backgroundMobile.svg');
  }
}
